body {
    font-family: Arial, sans-serif;
    background-color: #555a68;
    background-position: center;
    background-size: contain;
    padding: 0;
    margin: 0;
}
* { /*Padding verdiğimde div büyüyordu. bu kod ise bu durumu düzeltiyor*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.content{
    display: flex;
    width: 100%;
    justify-content: center;
}
.content .panel{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #878787;
    flex-flow: column;
    display: flex;
    margin-top: 150px;
    background-color: rgb(255, 255, 255);
}
.content .kutu1{
    display: flex;
    gap: 15px;
    padding: 20px 20px;
    justify-content: center;
}
.content .kutu1 .sayi{
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    width: 150px;
}
.content .kutu2{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 20px;
}
.content .kutu2 .buton{
    padding: 5px 15px;
    width: 25%;
    height: 45px;
    font-size: 30px;
    text-align: center;
}
.content .kutu3 {
    display: flex;
    padding: 15px 20px;
    justify-content: start;

}
.content .kutu3 .cevap{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 25px;
    display: flex;
    width: 150px;
}